/* ExpensesTab.css */
.expenses-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .expense-title {
    display: flex;
    align-items: center;
  }
  
  .expenses-table th, .expenses-table td {
    border: 1px solid #ddd;
    padding: 6px;
    text-align: center;
  }
  
  .expenses-table th {
    background-color: #f2f2f2;
  }
  
  /* Adjust the button style */
  .edit-btn {
    padding: 5px 8px; /* Adjust padding for a smaller button */
    font-size: 12px; /* Adjust font size */
    background-color: #4caf50; /* Green background color */
    color: white; /* White text color */
    border: none; /* Remove border */
    border-radius: 4px; /* Add some border-radius for rounded corners */
    cursor: pointer;
    width: 50px;
  }
  
  .edit-btn:hover {
    background-color: #45a049; /* Darker green color on hover */
  }
  .category-grid{
    margin-top: 10px;
  }
  .category-items{
    display: flex;
  }
  .radio-btn-group{
    margin-top: 15px;
  }
  .category-color{
    background-color: red;
  }
  
  .category-item {
    padding: 5px;
    cursor: pointer;
  }
  .category-item:hover{
    background-color: red;
    color: white;
  }
  
  .category-name {
    overflow: hidden; /* Hide any overflow text */
    white-space: nowrap; /* Prevent line breaks */
    text-overflow: ellipsis; /* Add ellipsis (...) when text overflows */
  }
  